[run]
branch = True
source = compyle
omit =
     */tests/*
     compyle/api.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    except ImportError:
    raise NotImplementedError()
    if __name__ == .__main__.:
