include MANIFEST.in *.py *.rst *.yml *.txt *.toml
recursive-include compyle *.pyx
recursive-exclude compyle *.cpp
recursive-include docs *.*
recursive-include examples *.*
recursive-exclude docs/build *.*
recursive-exclude examples/ *.png __pycache__/* .DS_Store
